@using BooksStore.Blazor.Components
@using Microsoft.AspNetCore.Components.Authorization
<ErrorHandler>
	<CascadingAuthenticationState>
		<Router AppAssembly="@typeof(App).Assembly" AdditionalAssemblies="new[] { typeof(Component1).Assembly }">
			<Found Context="routeData">
				<AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(UserLayout)">
					<NotAuthorized>
						@*<h3>You don't have the permissions to access this page</h3>
						<br />
						<a href="authentication/login" class="btn btn-primary">Login</a>*@
						<RedirectToLogin />
					</NotAuthorized>
				</AuthorizeRouteView>
				<FocusOnNavigate RouteData="@routeData" Selector="h1" />
			</Found>
			<NotFound>
				<PageTitle>Not found</PageTitle>
				<LayoutView Layout="@typeof(UserLayout)">
					<div style="text-align:center;margin-top:20px">
						<h3><span style="color:red"><strong>Oops!</strong></span> Nothing can be found at this address</h3>
						<p>It looks like the page your requested in the URL cannot be found</p>
					</div>
				</LayoutView>
			</NotFound>
		</Router>
	</CascadingAuthenticationState>
</ErrorHandler>